<div class="container mt-4">
  <h2 style="text-align: center">Create New Blog</h2>
  <br />
  <form method="POST" action="/blog/create">
    <div class="mb-3">
      <label for="imageUrl" class="form-label">Image URL</label>
      <input
        type="url"
        class="form-control"
        id="imageUrl"
        name="imageUrl"
        required
      />
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        required
      />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input
        type="text"
        class="form-control"
        id="category"
        name="category"
        required
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="5"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-success">Post Blog</button>
  </form>
</div>
